@page
@model Semester_Projekt.Pages.Booking.CreateBookingModel
@{
}
<h2>Opret booking</h2>
<article class="row">
    <form method="post">
        <section class="form-group">
            <label asp-for="BookingProjektID"></label>
            <input asp-for="BookingProjektID" class="form-control"/>
            <span asp-validation-for="BookingProjektID" class="text-danger"></span>
        </section>
        <section>
            <table class="table"´>
                <thead>
                <tr>
                    <th>Tilføj</th>
                    <th>Opgave</th>
                    <th>Kompetenceområde</th>
                </tr>
                </thead>
                <tbody>
                @if (Model.OpgaveModel.Any())
                {
                    foreach (var opgave in Model.OpgaveModel)
                    {
                        <tr>
                            <td><input type="radio" id="@opgave.OpgaveID" name="BookingOpgaveID" value="@opgave.OpgaveID"></td>
                            <td><input type="hidden" id="@opgave.OpgaveID" name="BookingOpgaveName" value="@opgave.OpgaveName"></td>
                            <td><label for="@opgave.OpgaveID">@opgave.OpgaveName</label><br></td>
                            <td><label for="@opgave.OpgaveID">@opgave.OpgaveType</label><br></td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </section>
        <button type="submit" class="btn btn-default">Tilføj Ansat til booking -></button>
    </form>
</article>